/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Roboto", sans-serif;
	background-image: url("img/pattern.jpg");
}

.content {
	box-sizing: border-box;
	padding: 0px 15px;
	text-align: center;
	margin: 0px auto;
	width: 1000px;

}

nav {
	position: fixed;
	border: 2px solid black;

}

.top-nav {
	width: 100%;
	padding: 0.5em;
	
}

.top-nav .links{
	float: right;
	color: #838994;
}

.top-nav .links li {
	display: inline-block;
	margin: 0em 1em;
	
}

.welcome {
	background-image: url("img/left_lo.jpg");
	padding-top: 10em;
	background-repeat: none;
	background-position: fixed;
	background-size: cover;
	border: 2px solid black;
}


.introduction-section {
	margin-top: 10em;
	background-size: cover;
	background-position: fixed;
	padding:2em;
	vertical-align: top;
	line-height: 2em;
	border: 2px solid black;
}